<html>
	<head>
    <!--我承認這次很偷懶，對不起...-->
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	</head>
	<body>
    <title>這是Title</title>
    <center>
		<h1>送筆資料吧</h1>
		<form method="POST" action="/r">
          <table width="720" border="1">
          　<tr>
			<td>你的名稱: </td> <td><input type="text" id="firstname" name="username" /><br /></td>
            </tr>
　          <tr>
			<td>想說的內容: </td> <td><textarea name="content" placeholder="請填寫"></textarea><br /></td>
            
　          </tr>
          </table>
			<input type="submit" value="Save" />
		</form>
        <hr>
        <h1>留言板</h1>
        <% if(userinfos.length){ %>
          　<!--<tr>
          　<td>工作名稱</td>
　          <td>內容</td>
　          </tr>-->

            <% userinfos.forEach(function(userinfos){ %>
            
        <table width="360" border="5">
            <tr align="center"><td>留言人: <%= userinfos['username'] %></td></tr>
            <tr><td><%= userinfos['content'] %></td></tr>
        </table>
        <br/><!--做間格用-->
            <% }) %>
        
        <% } %>
	</center>
    </body>
</html>
